In [5]:
import pandas as pd
data=pd.read_csv('Real estate.csv')
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   No                                      414 non-null    int64
 1   X1 transaction date                     414 non-null    float64
 2   X2 house age                            414 non-null    float64
 3   X3 distance to the nearest MRT station  414 non-null    float64
 4   X4 number of convenience stores         414 non-null    int64
 5   X5 latitude                             414 non-null    float64
 6   X6 longitude                            414 non-null    float64
 7   Y house price of unit area              414 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 26.0 KB

In [13]:
x_train=data.iloc[:,1 :-1]
y_train=data['Y house price of unit area']
# print(x_train)
x_train.head()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,2012.917,32.0,84.87882,10,24.98298,121.54024
1,2012.917,19.5,306.59470,9,24.98034,121.53951
2,2013.583,13.3,561.98450,5,24.98746,121.54391
3,2013.500,13.3,561.98450,5,24.98746,121.54391
4,2012.833,5.0,390.56840,5,24.97937,121.54245

In [14]:
print('Kich thuoc cua x_train ',x_train.shape)
print('Kich thuoc cua y_train ',y_train.shape)

Kich thuoc cua x_train  (414, 6)
Kich thuoc cua y_train  (414,)

In [15]:
from sklearn.linear_model import LinearRegression as LR
model_ski= LR(fit_intercept=True)

In [19]:
import numpy as np
# X_train = x_train[:, np.newaxis]

# print(X_train.shape)

model_ski.fit(x_train,y_train)

LinearRegression()

In [20]:
print('a=',model_ski.coef_)
print('b=',model_ski.intercept_)

a= [ 5.14622746e+00 -2.69695448e-01 -4.48746107e-03  1.13327690e+00
  2.25472976e+02 -1.24236012e+01]
b= -14437.100802280538

In [26]:
X1=float(input("Nhap x1:"))
print("X1 :",X1)
X2=float(input("Nhap x2:"))
print("X2 :",X1)
X3=float(input("Nhap x3:"))
print("X3 :",X3)
X4=float(input("Nhap x4:"))
print("X4 :",X4)
X5=float(input("Nhap x5:"))
print("X5 :",X5)
X6=float(input("Nhap x6:"))
print("X6 :",X6)

X1 : 2012.833
X2 : 2012.833
X3 : 390.5684
X4 : 5.0
X5 : 24.97937
X6 : 121.54245

In [27]:
gia_nha=model_ski.predict([[X1,X2,X3,X4,X5,X6]])
print(gia_nha)

[46.13886467]